<!DOCTYPE html>                                                                    <html lang="en">                                                                                                                                                    <head>                                                                                <meta charset="utf-8">                                                            <meta name="viewport" content="width=device-width, initial-scale=1.0">            <meta http-equiv="X-UA-Compatible" content="ie=edge">                             <title>DeWeb测试网页</title>                                                          </head>                                                                           
<body style="background-color:#F0F0F0">
    <script src="dist/vue.js" type="text/javascript"></script>              <script src="dist/index.js" type="text/javascript"></script>            <script src="dist/axios.min.js" type="text/javascript"></script>        <link rel="icon" href="dist/webimages/[###].ico" type="image/x-icon">           <link rel="stylesheet" type="text/css" href="dist/theme-chalk/index.css" /> 
    <div id="app" style="position:absolute;overflow:hidden;left:0;right:0;bottom:0;margin: 0 auto;background-color:#FFFFFF" :style="{top:Test__top,width:Test__wid,height:Test__hei}" >
        <el-dialog :title="input_query_caption" :visible.sync="input_query_visible" >
        	<el-form style="width:90%;padding-left:5%;">
        		<el-form-item :label="input_query_inputname" >
        			<el-input v-model="input_query_inputdefault" autocomplete="off"></el-input>
        		</el-form-item>
        	</el-form>
        	<div slot="footer" class="dialog-footer">
        		<el-button @click="input_query_visible=false">{{input_query_cancelcaption}}</el-button>
        		<el-button type="primary" @click="processinputquery">{{input_query_okcaption}}</el-button>
        	</div>
        </el-dialog>
        <div  v-html="DBText1__cap" v-if="DBText1__vis" :disabled="DBText1__dis" :style="{left:DBText1__lef,top:DBText1__top,width:DBText1__wid,height:DBText1__hei}" style="position:absolute;color:#000000;font-family:'微软雅黑';font-size:11pt;font-weight:normal;font-style:normal;text-decoration:none;">{{DBText1__cap}}
        </div>
        <div  v-html="Label1__cap" v-if="Label1__vis" :disabled="Label1__dis" :style="{left:Label1__lef,top:Label1__top,width:Label1__wid,height:Label1__hei}" style="position:absolute;color:#000000;font-family:'微软雅黑';font-size:11pt;font-weight:normal;font-style:normal;text-decoration:none;">{{Label1__cap}}
        </div>
        <div  v-html="Label2__cap" v-if="Label2__vis" :disabled="Label2__dis" :style="{left:Label2__lef,top:Label2__top,width:Label2__wid,height:Label2__hei}" style="position:absolute;color:#000000;font-family:'微软雅黑';font-size:11pt;font-weight:normal;font-style:normal;text-decoration:none;">{{Label2__cap}}
        </div>
        <el-button v-if="Button1__vis" :disabled="Button1__dis" type="primary" :style="{left:Button1__lef,top:Button1__top,width:Button1__wid,height:Button1__hei}" style="position:absolute;" @click="dwevent($event,'Button1','0','onclick','')">{{Button1__cap}}
        </el-button>
        <el-input v-if="DBEdit1__vis" :disabled="DBEdit1__dis" v-model="DBEdit1__txt" :style="{left:DBEdit1__lef,top:DBEdit1__top,width:DBEdit1__wid,height:DBEdit1__hei}" style="position:absolute;" @input="dwevent($event,'DBEdit1','(this.DBEdit1__txt)','onchange','')" @focus="dwevent($event,'DBEdit1','(this.DBEdit1__txt)','onenter','')">
        </el-input>
        <div :style="{left:DBGrid1__lef,top:DBGrid1__top,width:DBGrid1__wid,height:DBGrid1__hei}" style="position:absolute;">
            <el-table :data="DBGrid1__ces" highlight-current-row ref="DBGrid1" border v-if="DBGrid1__vis" :disabled="DBGrid1__dis" height="191" style="width:100%" @row-click="dwevent($event,'DBGrid1','val.d0','onchange','')">
                <el-table-column  show-overflow-tooltip fixed v-if=false prop="d0" label="rowno" width="80"></el-table-column>
                <el-table-column show-overflow-tooltip prop="d1" label="姓名" width="100"></el-table-column>
                <el-table-column show-overflow-tooltip prop="d2" label="性别" width="100"></el-table-column>
                <el-table-column show-overflow-tooltip prop="d3" label="民族" width="100"></el-table-column>
                <el-table-column show-overflow-tooltip prop="d4" label="籍贯" width="100"></el-table-column>
                <el-table-column show-overflow-tooltip prop="d5" label="出生日期" width="100"></el-table-column>
                <el-table-column show-overflow-tooltip prop="d6" label="爱好" width="100"></el-table-column>
                <el-table-column show-overflow-tooltip prop="d7" label="邮箱" width="120"></el-table-column>
            </el-table>
        </div>
        <el-button v-if="Button76__vis" :disabled="Button76__dis" type="primary" :style="{left:Button76__lef,top:Button76__top,width:Button76__wid,height:Button76__hei}" style="position:absolute;" @click="dwevent($event,'Button76','0','onclick','')">{{Button76__cap}}
        </el-button>
        <el-button v-if="Button77__vis" :disabled="Button77__dis" type="primary" :style="{left:Button77__lef,top:Button77__top,width:Button77__wid,height:Button77__hei}" style="position:absolute;" @click="dwevent($event,'Button77','0','onclick','')">{{Button77__cap}}
        </el-button>
        <el-button v-if="Button78__vis" :disabled="Button78__dis" type="primary" :style="{left:Button78__lef,top:Button78__top,width:Button78__wid,height:Button78__hei}" style="position:absolute;" @click="dwevent($event,'Button78','0','onclick','')">{{Button78__cap}}
        </el-button>
        <el-button v-if="Button80__vis" :disabled="Button80__dis" type="default" :style="{left:Button80__lef,top:Button80__top,width:Button80__wid,height:Button80__hei}" style="position:absolute;" @click="dwevent($event,'Button80','0','onclick','')">{{Button80__cap}}
        </el-button>
        <el-button v-if="Button81__vis" :disabled="Button81__dis" type="default" :style="{left:Button81__lef,top:Button81__top,width:Button81__wid,height:Button81__hei}" style="position:absolute;" @click="dwevent($event,'Button81','0','onclick','')">{{Button81__cap}}
        </el-button>
        <el-checkbox v-if="CheckBox12__vis" :disabled="CheckBox12__dis" v-model="CheckBox12__chk" type="default" :style="{left:CheckBox12__lef,top:CheckBox12__top,width:CheckBox12__wid,height:CheckBox12__hei}" style="position:absolute;" @change="dwevent($event,'CheckBox12','this.CheckBox12__chk','onclick','')">{{CheckBox12__cap}}
        </el-checkbox>
        <el-input-number v-model="SpinEdit1__val" :min="SpinEdit1__min" :max="SpinEdit1__max" v-if="SpinEdit1__vis" :disabled="SpinEdit1__dis" :style="{left:SpinEdit1__lef,top:SpinEdit1__top,width:SpinEdit1__wid,height:SpinEdit1__hei}" style="position:absolute;" @change="dwevent($event,'SpinEdit1','(this.SpinEdit1__val)','onchange','')">
        </el-input-number>
	 </div>
    <script>
	    Vue.prototype.procResp = function (data){
		    resp = JSON.parse(decodeURIComponent(String(data))); 
		    if (resp.mode === "update"){
		        eval(String(resp.code));
		    } else if (resp.mode === "showform"){
		        document.open();document.write(String(resp.code));
		    }
	    } 
        new Vue(
			{
				el: '#app',
				data: function () {
					return {
					    Test__top:"0px",
					    Test__wid:"784px",
					    Test__hei:"881px",
                        DBText1__lef:"425px",
                        DBText1__top:"13px",
                        DBText1__wid:"65px",
                        DBText1__hei:"17px",
                        DBText1__vis:true,
                        DBText1__dis:false,
                        DBText1__cap:"女",
                        Label1__lef:"150px",
                        Label1__top:"16px",
                        Label1__wid:"38px",
                        Label1__hei:"20px",
                        Label1__vis:true,
                        Label1__dis:false,
                        Label1__cap:"姓名 :",
                        Label2__lef:"360px",
                        Label2__top:"13px",
                        Label2__wid:"38px",
                        Label2__hei:"20px",
                        Label2__vis:true,
                        Label2__dis:false,
                        Label2__cap:"性别 :",
                        Button1__lef:"20px",
                        Button1__top:"8px",
                        Button1__wid:"104px",
                        Button1__hei:"38px",
                        Button1__vis:true,
                        Button1__dis:false,
                        Button1__cap:"Button1",
                        DBEdit1__lef:"215px",
                        DBEdit1__top:"13px",
                        DBEdit1__wid:"121px",
                        DBEdit1__hei:"28px",
                        DBEdit1__vis:true,
                        DBEdit1__dis:false,
                        DBEdit1__txt:"钟一鸣",
                        DBGrid1__lef:"20px",
                        DBGrid1__top:"65px",
                        DBGrid1__wid:"736px",
                        DBGrid1__hei:"191px",
                        DBGrid1__vis:true,
                        DBGrid1__dis:false,
                        DBGrid1__ces:[{"d0":'0',"d1":'钟一鸣',"d2":'女',"d3":'汉族',"d4":'广东',"d5":'1963-10-21',"d6":'体育',"d6":''},
                        {"d0":'1',"d1":'马亮',"d2":'男',"d3":'苗族',"d4":'海南',"d5":'1983-10-21',"d6":'旅游',"d6":''},
                        {"d0":'2',"d1":'西风',"d2":'男',"d3":'苗族',"d4":'海南',"d5":'1983-10-21',"d6":'旅游',"d6":''},
                        {"d0":'3',"d1":'何泉',"d2":'女',"d3":'苗族',"d4":'海南',"d5":'1983-10-21',"d6":'旅游',"d6":''},
                        {"d0":'4',"d1":'陆小方',"d2":'女',"d3":'维族',"d4":'四川',"d5":'1983-10-25',"d6":'跑男',"d6":'feesdinp@sina.com'},
                        {"d0":'5',"d1":'黄小剑',"d2":'女',"d3":'汉族',"d4":'广东',"d5":'1963-10-21',"d6":'体育',"d6":''},
                        {"d0":'6',"d1":'马云',"d2":'男',"d3":'汉族',"d4":'浙江',"d5":'1960-01-01',"d6":'商业',"d6":'webmaster@alibaba.com'},
                        {"d0":'7',"d1":'胡妮',"d2":'女',"d3":'回族',"d4":'湖北',"d5":'1973-10-21',"d6":'娱乐',"d6":'34234@QQ.com'},
                        {"d0":'8',"d1":'李小琳',"d2":'女',"d3":'回族',"d4":'湖北',"d5":'1973-10-21',"d6":'娱乐',"d6":'Mydssdfe@163.com'},
                        {"d0":'9',"d1":'张明歌',"d2":'女',"d3":'回族',"d4":'湖北',"d5":'1973-10-21',"d6":'音乐',"d6":'ddddLove@163.com'},
                        {"d0":'10',"d1":'张玉',"d2":'女',"d3":'回族',"d4":'湖北',"d5":'1973-10-21',"d6":'娱乐',"d6":'My123e@163.com'},
                        {"d0":'11',"d1":'刘制',"d2":'女',"d3":'回族',"d4":'湖北',"d5":'1973-10-21',"d6":'娱乐',"d6":'MyLove@163.com'},
                        {"d0":'12',"d1":'刘西风',"d2":'男',"d3":'苗族',"d4":'海南',"d5":'1983-10-21',"d6":'旅游',"d6":''},
                        {"d0":'13',"d1":'何小泉',"d2":'女',"d3":'苗族',"d4":'海南',"d5":'1983-10-21',"d6":'旅游',"d6":''},
                        {"d0":'14',"d1":'张茹',"d2":'女',"d3":'汉族',"d4":'广东',"d5":'1963-10-21',"d6":'体育',"d6":''},
                        {"d0":'15',"d1":'肖大雅',"d2":'女',"d3":'汉族',"d4":'广东',"d5":'1963-10-21',"d6":'体育',"d6":''},
                        {"d0":'16',"d1":'黄小剑',"d2":'女',"d3":'汉族',"d4":'广东',"d5":'1963-10-21',"d6":'体育',"d6":''},
                        {"d0":'17',"d1":'刘大制',"d2":'女',"d3":'回族',"d4":'湖北',"d5":'1973-10-21',"d6":'娱乐',"d6":'MyDddve@163.com'},
                        {"d0":'18',"d1":'钟二鸣',"d2":'女',"d3":'汉族',"d4":'广东',"d5":'1963-10-21',"d6":'体育',"d6":''},
                        {"d0":'19',"d1":'马三亮',"d2":'男',"d3":'苗族',"d4":'海南',"d5":'1983-10-21',"d6":'旅游',"d6":''},
                        {"d0":'20',"d1":'西二风',"d2":'男',"d3":'苗族',"d4":'海南',"d5":'1983-10-21',"d6":'旅游',"d6":''},
                        {"d0":'21',"d1":'何五泉',"d2":'女',"d3":'苗族',"d4":'海南',"d5":'1983-10-21',"d6":'旅游',"d6":''},
                        {"d0":'22',"d1":'张六茹',"d2":'女',"d3":'汉族',"d4":'广东',"d5":'1963-10-21',"d6":'体育',"d6":''},
                        {"d0":'23',"d1":'肖七雅',"d2":'女',"d3":'汉族',"d4":'广东',"d5":'1963-10-21',"d6":'体育',"d6":''},
                        {"d0":'24',"d1":'黄小剑',"d2":'女',"d3":'汉族',"d4":'广东',"d5":'1963-10-21',"d6":'体育',"d6":''},
                        {"d0":'25',"d1":'刘小琳',"d2":'女',"d3":'回族',"d4":'湖北',"d5":'1973-10-21',"d6":'娱乐',"d6":'MyTo34@163.com'},
                        {"d0":'26',"d1":'刘光树',"d2":'男',"d3":'壮族',"d4":'甘肃',"d5":'1981-02-01',"d6":'播音',"d6":'zengxiaoxian@wp.com'},
                        {"d0":'27',"d1":'蒋飞',"d2":'女',"d3":'回族',"d4":'甘肃',"d5":'2000-01-14',"d6":'',"d6":''}],
                        Button76__lef:"23px",
                        Button76__top:"271px",
                        Button76__wid:"90px",
                        Button76__hei:"35px",
                        Button76__vis:true,
                        Button76__dis:false,
                        Button76__cap:"Visible",
                        Button77__lef:"119px",
                        Button77__top:"271px",
                        Button77__wid:"90px",
                        Button77__hei:"35px",
                        Button77__vis:true,
                        Button77__dis:false,
                        Button77__cap:"Enabled",
                        Button78__lef:"311px",
                        Button78__top:"271px",
                        Button78__wid:"90px",
                        Button78__hei:"35px",
                        Button78__vis:true,
                        Button78__dis:false,
                        Button78__cap:"Size",
                        Button80__lef:"407px",
                        Button80__top:"271px",
                        Button80__wid:"91px",
                        Button80__hei:"35px",
                        Button80__vis:true,
                        Button80__dis:false,
                        Button80__cap:"Get",
                        Button81__lef:"503px",
                        Button81__top:"271px",
                        Button81__wid:"90px",
                        Button81__hei:"35px",
                        Button81__vis:true,
                        Button81__dis:false,
                        Button81__cap:"Set",
                        CheckBox12__lef:"20px",
                        CheckBox12__top:"319px",
                        CheckBox12__wid:"344px",
                        CheckBox12__hei:"22px",
                        CheckBox12__vis:true,
                        CheckBox12__dis:false,
                        CheckBox12__cap:"ShowMessage OnChange",
                        CheckBox12__chk:false,
                        SpinEdit1__lef:"20px",
                        SpinEdit1__top:"370px",
                        SpinEdit1__wid:"121px",
                        SpinEdit1__hei:"30px",
                        SpinEdit1__vis:true,
                        SpinEdit1__dis:false,
                        SpinEdit1__val:"0",
                        SpinEdit1__min:"-5",
                        SpinEdit1__max:"5",
					    input_query_visible:false,
					    input_query_caption:"Input Query",
					    input_query_inputname:"new",
					    input_query_cancelcaption:"Cancel",
					    input_query_okcaption:"OK",
					    input_query_inputdefault:"",
					    input_query_method:"processinputquery",
					    input_query_visible:false,
					    version__istrial:false,
					    clientid:[!clientid!]
                    }
                },
                mounted() {
                    let me=this;
                    window.addEventListener(
                        "onorientationchange" in window ? "orientationchange" : "resize",
                        function() {
                            axios.get('{"mode":"event","cid":[!clientid!],"component":"_screen","orientation":"'+window.orientation+'","clientwidth":'+document.documentElement.clientWidth+',"clientheight":'+document.documentElement.clientHeight+',"innerwidth":'+window.innerWidth+',"innerheight":'+window.innerHeight+',"width":'+screen.width+',"height":'+screen.height+'}')
                            .then(resp =>{me.procResp(resp.data)});
                        },
                        false
                    );
                    let Testhearttimer = window.setInterval(function() {
                        axios.get('{"mode":"heart","cid":[!clientid!]}')
                        .then(resp =>{me.procResp(resp.data)})
                        .catch((error) =>{me.dwnotify("Info","Network is disconnected!");clearInterval(Testhearttimer);});
                    }, 30000);
                },
				methods: {
                    dwnotify(caption,text) {this.$notify.warning({ title: caption, message: text, duration: 0,showClose: false });},
                    dwevent(val,compname,compvalue,compevent,reserved) {
                        var jo={};
                        jo.mode="event";
                        jo.cid=this.clientid;
                        jo.component=compname;
                        jo.value=escape(eval(compvalue))
                        jo.event=compevent;
                        axios.get(JSON.stringify(jo))
                        .then(resp =>{this.procResp(resp.data)});
                    },
                    processinputquery(val) {
                        this.input_query_visible = false;
                        axios.get('{"mode":"interaction","cid":[!clientid!],"class":"inputquery","method":"'+this.input_query_method+'","value":"'+this.input_query_inputdefault+'"}')
                        .then(resp =>{this.procResp(resp.data)});
                    },
                },
                beforeDestroy() {
                    clearInterval(hearttimer);
                }
            }
        ); 
    </script>
</body>
</html>
